<h1>Bootleg Reddit</h1>
<br>
<img src="https://www.pinclipart.com/picdir/big/569-5695604_reddit-logo-clipart.png" width="200" height="250" alt="Bootleg Reddit">
<br><br>
<h3> <label> Top Group:  <%= link_to Group.top_group.title, group_path(Group.top_group) %> </label> </h3>
<br>
<label> Group Users:  <%= Group.top_group.users.count %> </label>
<br><br><br>
<h3> <label> Top Post:  <%= link_to Post.top_post.title, post_path(Post.top_post) %> </label> </h3>
<br>
<label> Post Likes:  <%= Post.top_post.likes.count %> </label>
<br><br><br>
<h3> <label> Top Contributer:  <%= link_to User.top_contributer.username, user_path(User.top_contributer) %> </label> </h3>
<br>
<label> Contributer Posts:  <%= User.top_contributer.posts.count %> </label>
<br><br>
<h3> <label> Top Topic:  <%= link_to Topic.top_topic.title, topic_path(Topic.top_topic) %> </label> </h3>
<br>
<label> Topic Posts:  <%= Topic.top_topic.posts.count %> </label>
<br><br>
<br><br>
<%= link_to "All Topics", topics_path %>
<%= link_to "All Groups", groups_path %>








